[submodule "answer1"]
	path = answer1
	url = https://github.com/LogoYazilimJavaSpringBootcamp/homework-2-senolkara.git
[submodule "answer2"]
	path = answer2
	url = https://github.com/LogoYazilimJavaSpringBootcamp/homework-2-senolkara.git
[submodule "answer3"]
	path = answer3
	url = https://github.com/LogoYazilimJavaSpringBootcamp/homework-2-senolkara.git
[submodule "answer4"]
	path = answer4
	url = https://github.com/LogoYazilimJavaSpringBootcamp/homework-2-senolkara.git
[submodule "answer5"]
	path = answer5
	url = https://github.com/LogoYazilimJavaSpringBootcamp/homework-1-senolkara.git
[submodule "answer6"]
	path = answer6
	url = https://github.com/LogoYazilimJavaSpringBootcamp/homework-2-senolkara.git
